MONGODB_URI={YOUR_MONGODB_CONNECTTION_STRING}

BRIGHT_DATA_USERNAME={YOUR_BRIGHT_DATA_EMAIL}
BRIGHT_DATA_PASSWORD={YOUR_BRIGHT_DATA_PASSWORD}

MAILER_EMAIL={YOUR_MAILER_EMAIL}
MAILER_PASSWORD={YOUR_MAILER_PASSWORD}